@media screen and (min-width: 1200px) {
  .container {
    min-width: 1128px;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
  /* ------------------------header-------------------- */
  .header {
    max-width: 1440px;
    border-bottom: 1px solid #e7e9fc;
    margin: auto;
  }
  .header-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
  }
  .header-list-contacts {
    width: 344px;
    gap: 40px;
  }
  .header-navigation-name {
    padding-bottom: 28px;
  }

  /* ------------------------------hero---------------------------------------- */
  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    background-image: var(--hero-grd),
      url(../images/hero-desctop-1440-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--hero-grd),
        url(../images/hero-desctop-1440-2x.jpg);
    }
  }
  /* -----------------------------qualities----------------------------------- */
  .qualities {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .qualities-list {
    flex-basis: calc((100% - 72px) / 4);
    width: 100%;
  }
  .qualities-unordered {
    padding: 0;
    width: 1128px;
    margin: auto;
  }

  .qual-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: var(--footer-logo-studio-color);
    border-radius: 4px;
  }
  .qualities-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  /* -----------------------------Our-works------------------------------- */
  .works {
    display: flex;
    padding-top: 0;
    padding-bottom: 120px;
  }
  .works-name {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .works-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }
  .works-list-one {
    width: calc((100% - 48px) / 3);
  }
  .works-list-two {
    width: calc((100% - 48px) / 3);
  }
  .works-list-three {
    width: calc((100% - 48px) / 3);
  }
  /* -------------------------team---------------------- */
  .team {
    padding-bottom: 120px;
  }
  .team-list-person {
    width: calc((100% - 72px) / 4);
  }
  .team-list {
    padding: 0px;
  }
  /* ----------------------customers------------------------ */
  .cast {
    width: calc((100% - 120px) / 6);
  }
  .customers {
    padding-top: 120px;
    margin: 0px;
  }
  /* -------------------Footer---------------------------- */
  .footer {
    padding: 0;
  }
  .footer-text {
    margin: 0;
  }
  .subscribe {
    margin-left: 80px;
  }
  .footer-email {
    width: 264;
  }
  .soc-footer {
    margin-left: 120px;
  }
  .subscribe-btn {
    margin-left: 24px;
  }
  .footer-container {
    flex-wrap: nowrap;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
