@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  /* --------------------hero------------------ */
  .hero {
    max-width: 428px;
  }
  /* -----------------------------qualities----------------------------------- */
  .qualities-unordered {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* -------------------------team---------------------- */
  .team-list {
    padding-left: 82px;
    padding-right: 82px;
  }
  /* ---------------------footer------------------------ */
  .footer-email {
    width: 398px;
  }
}
