@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  /* ----------------mobile-menu----------- */
  .mob-soc-list {
  
  gap: 56px;
}
  /* --------------------hero------------------ */
  .hero {
    min-width: 480px;
  }
  /* -----------------------------qualities----------------------------------- */
  .qualities-unordered {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* -------------------------team---------------------- */
  .team-list {
    padding-left: 82px;
    padding-right: 82px;
  }
  .container-team {
    width: 264px;
  }
  /* ---------------------footer------------------------ */
  .footer-email {
    width: 398px;
  }
  /* -------------------------Modal------------------ */
   .modal {
    width: 408px;
  }
  .modal-btn-container{
max-width: 1440px;
padding-left: 15px;
padding-right: 15px;
margin: auto;
  }
}
